---
import Layout from "../../layouts/Layout.astro"
import ForumEventCard from "../../components/ForumEventCard.astro"
import SectionColumned from "../../components/SectionColumned.astro"
---

<Layout>
    <header class="hero">
        <div class="mx-auto max-w-[1024px]">
            <SectionColumned>
                <div>
                    <img
                        src="/images/pps-logo.svg"
                        alt="Professionals Platform Series"
                        style="height:168px"
                    />

                    <p class="p-4 pt-2 text-xl italic">
                        Forum intersectoriel réunissant des professionnels et
                        les A.A. à travers les États-Unis et le Canada afin de
                        renforcer le soutien aux personnes ayant des problèmes
                        liés à l’usage de l’alcool. La plateforme proposera une
                        série de conversations, débutant en juillet 2026.
                    </p>
                </div>
                <div class="p-3 text-right">
                    <div
                        class="bg-opacity-20 bg-powderblue-100 inline-block rounded-full px-4 py-1 text-right text-sm text-gray-400"
                    >
                        <a href="/" class="text-cyan-800 hover:underline"
                            >English</a
                        > |
                        <a href="/es/" class="text-cyan-800 hover:underline"
                            >Español</a
                        > |
                        <span class="font-bold text-gray-800">Français</span>
                    </div>
                </div>
            </SectionColumned>
        </div>
    </header>
    <main class="mx-auto max-w-[1024px]">
        <SectionColumned>
            <div>
                <div class="relative grid gap-4 sm:grid-cols-2">
                    <ForumEventCard>
                        <div slot="dateinfo">
                            <p>Jeudi</p>
                            <p class="text-xl">
                                <strong>23 Juillet 2026</strong>
                            </p>
                        </div>
                        <main class="px-2 py-4">
                            <h3 class="text-2xl">
                                <strong
                                    >Dawn Klug<br /><small
                                        >M.S., LCMHC, CEAP</small
                                    ></strong
                                >
                            </h3>
                            <p>
                                Présidente et chef de l'exploitation, réseau
                                d'aide aux employés
                            </p>

                            <p class="mt-4">Administratrice Classe A</p>
                        </main>
                    </ForumEventCard>
                    <ForumEventCard>
                        <div slot="dateinfo">
                            <p>Jeudi</p>
                            <p class="text-xl">
                                <strong>22 Octobre 2026</strong>
                            </p>
                        </div>
                        <main class="px-2 py-4">
                            <h3 class="text-2xl">
                                <strong> Chief Judge<br /> Kerry Meyer</strong>
                            </h3>
                            <p>Minneapolis</p>
                            <p class="mt-4">Alcooliques Anonymes</p>
                        </main>
                    </ForumEventCard>
                </div>
                <div class="mt-4">
                    <h2 id="upcoming" class="text-2xl font-bold italic">
                        À venir en 2027
                    </h2>
                </div>
                <div class="mt-4 grid gap-4 sm:grid-cols-2">
                    <div class="bg-zest-200 rounded-2xl px-4 py-2 text-center">
                        <p class="text-lg font-bold">Veronica Ramirez</p>
                        <p>
                            Directrice principale de la probation fédérale des
                            États-Unis
                        </p>
                        <p class="pt-4">
                            Miembro del consejo directivo de clase A de
                            Alcohólicos Anónimos
                        </p>
                    </div>
                    <div class="bg-zest-200 rounded-2xl px-4 py-2 text-center">
                        <p class="text-lg font-bold">Molly Oliver</p>
                        <p>
                            Directrice des opérations Organisations caritatives
                            catholiques de Buffalo
                        </p>
                        <p class="pt-4">
                            Administratrice Classe A Alcooliques Anonymes
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-4 rounded-2xl bg-gray-100 px-4 pt-4">
                <div class="flex items-center gap-2">
                    <!-- <Clock class="w-8" /> -->
                    <div>
                        <h3 class="text-lg font-bold">Forum Enligne</h3>
                        <ul class="mt-1">
                            <li>19 h 00 – 20 h 30 HE</li>
                            <li>18 h 00 – 19 h 30 HC</li>
                            <li>16 h 00 – 17 h 30 HP</li>
                        </ul>
                        <ul class="mt-4">
                            <li>
                                Interprétation en Espagnol et en Français
                                disponible.
                            </li>
                            <li class="mt-2">
                                D’autres informations, y compris les détails
                                d’accès virtuel, seront communiquées
                                prochainement.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="pb-4">
                    <div>
                        <h3 class="text-lg font-bold">Liens</h3>
                        <p>
                            <a
                                href="https://www.aa.org/fr/Cooperation-with-the-Professional-Community"
                                target="_blank"
                                class="text-cyan-700"
                                >Collaboration avec les Milieux professionnels
                                (CMP)
                            </a>
                        </p>
                        <p class="mt-4">
                            <a
                                href="https://www.aa.org/fr/public-information-committees"
                                target="_blank"
                                class="text-cyan-700"
                                >Comités de l’Information publique</a
                            >
                        </p>
                        <h3 class="mt-4 text-lg font-bold">Nous contacter</h3>
                        <p>
                            <a
                                href="mailto:info@professionalsplatform.org"
                                class="text-cyan-700"
                                >info@professionalsplatform.org</a
                            >
                        </p>
                    </div>
                </div>
            </div>
        </SectionColumned>
    </main>

    <style>
        .hero {
            background:
                linear-gradient(
                    92deg,
                    #b9dfe9 30%,
                    rgba(153, 211, 224, 0.75) 60%,
                    rgba(8, 81, 113, 0.3) 94.45%
                ),
                url("/images/mono-chairs-1600.jpg") lightgray 50% / cover
                    no-repeat;
        }

        #upcoming {
            position: relative;
            background-color: var(--color-zest-100);
            display: inline-flex;
            padding: 16px;
            padding-right: 8px;
            border-radius: 0.25em 0 0 0.25em;
        }
        #upcoming:after {
            position: absolute;
            content: "";
            top: 50%;
            right: -24px;
            z-index: -1;
            border-color: var(--color-zest-100);
            border-width: 0 45px 45px 0;
            transform: translateY(-50%) rotate(-45deg);
        }

        /* main {
        background: var(--color-powderblue-100);
        display: flex;
        flex-direction: column;
    } */
    </style>
</Layout>
