---
import { localizePath, stripLocaleFromPath } from "../../utils/i18n.ts"

const currentPath = Astro.url.pathname
const isHome = currentPath === "/" || currentPath === "/es/" || currentPath === "/fr/" ;
const isSession = currentPath.includes("session");
const isAbout = currentPath.includes("about");

let isPage = false;
let containsPage = false;

// - Home | Inicio | Accueil
// - Sessions | Sesiônes | Séances
// - About | Sobre | À propos

---
<nav class="right-4 m-4 flex gap-2">
    {isHome ? (
        <div class="navitem selected">
            Accueil
        </div>
    ) : (
        <a
            class="navitem"
            href="/fr/">
            Accueil
        </a>
    )}

    {isSession ? (
        <div class="navitem selected">
            Séances
        </div>
    ) : (
        <a
            class="navitem"
            href="/fr/session">
            Séances
        </a>
    )}

    {isAbout ? (
        <div class="navitem selected whitespace-nowrap">
            À propos
        </div>
    ) : (
        <a
            class="navitem whitespace-nowrap"
            href="/fr/about">
            À propos
        </a>
    )}
</nav>

<style>
    nav {
        z-index: 1;
    }
    .navitem {
        display: block;
        border-radius: 0.25em;
        padding: 0.25em 1em;
        font-weight: 500;

    }
    a {
        color: var(--color-gray-200);
        background-color: rgba(30,41,57, .40);  /* color-mix(in oklab, var(--color-gray-800) 40%, transparent); */
        background-color: rgba(23,49,58,.50); 
        /* border-bottom: 4px solid rgba(23,49,58,.70); */
        /* border: 1px solid var(--color-powderblue-600); */

    }
    a:hover, a:focus {
        color: var(--color-gray-100);
        background-color: rgba(35,90,105, .50); 
        text-decoration: none;
    }
    .selected {
         background-color: #FFF; /* var(--color-zest-400); */
        color: var(--color-gray-700);
        /* border: 1px solid var(--color-zest-400); */
    }
    .selected2 {
        background-color: rgba(243,189,126, 0.6);
        color: var(--color-gray-800);
        /* border: 1px solid var(--color-zest-400); */
    }


</style>

