---
import LocaleSwitcher from "../components/LocaleSwitcher.astro"
---
<footer
    class="text-gray-7 mt-8 border-t border-gray-200 p-4 text-sm text-gray-500">
    <div class="mx-auto flex items-center max-w-[1024px]">
        <div class="grow"><LocaleSwitcher /></div>
        <div class="text-right">
            <a href="mailto:info@professionalsplatform.org" class="link">
                Contact Us
            </a> | ©2026 professionalsplatform.org
        </div>
    </div>
</footer>