<!--    <div
        class="bg-zest-400 relative inline-block rounded-2xl px-4 py-2 text-center"
        style="top:-24px"
    >
 -->
<div class="flex w-full flex-col gap-4">
    <div
        class="bg-powderblue-100 relative h-full w-full rounded-2xl text-center"
    >
        <header
            class="bg-zest-400 relative rounded-2xl rounded-b-none px-4 py-2 text-center"
        >
            <slot name="dateinfo">
                <p>DAY</p>
                <p>DATE</p>
            </slot>
        </header>
        <slot class="px-4 pb-4 text-center">
            <main>
                <h1>NAME</h1>
                <h2>TITLE</h2>
                <p>Class A Trustee<br />Alcoholics Anonymous</p>
            </main>
        </slot>
    </div>
</div>
