<div class="m-auto">
    <main>
        <div class="hero bg-cyan-100 p-4">
            <div class="m-auto w-5xl">
                <h1>Professionals Platform Series</h1>
                <p class="font-italic">
                    A forum convening professionals and A.A. across the United
                    States and Canada to strengthen support for individuals with
                    Alcohol Use Disorder. The platform will feature a series of
                    conversations across sectors, beginning in July 2026.
                </p>
            </div>
        </div>
        <div>
            <div class="m-auto flex w-5xl">
                <p>
                    Join us for a new initiative focused on listening, learning,
                    and sharing with the professional community. If you serve as
                    a PI or CPC chair, or work closely with professionals, we
                    encourage you to mark your calendar and share this with your
                    professional network.
                </p>

                <ForumEventCard />
                <div>
                    <p class="text-xl font-bold">Thursday 22 October, 2026</p>
                    Chief Judge Kerry Meyer Class A Trustee, Alcoholics Anonymous
                </div>
                <div>
                    <ul>
                        <li>7:00 – 8:30 PM ET</li>
                        <li>6:00 – 7:30 PM CT</li>
                        <li>4:00 – 5:30 PM PT</li>
                    </ul>
                </div>

                <div>ONLINE FORUM</div>
            </div>
        </div>

        <div class="bg-orange-100 p-4">
            <div class="m-auto flex w-5xl">
                <div>
                    Upcoming in 2027
                    <div>
                        Veronica Ramirez Chief Probation Officer, Eastern
                        District of Louisiana (ret.) Class A Trustee, Alcoholics
                        Anonymous
                    </div>
                    <div>
                        Molly Oliver Chief Operating Officer, Catholic Charities
                        of Buffalo Class A T rustee, Alcoholics Anonymous
                    </div>
                </div>
            </div>
        </div>
    </main>

    <style>
        main {
            background: var(--color-powderblue-100);
            display: flex;
            flex-direction: column;
        }
    </style>
</div>
