---
import "../styles/global.css"
// <link rel="icon" type="image/svg+xml" href="/pp1/favicon.svg" />
// <link rel="icon" href="/pp1/favicon.ico" />
// <link rel="preconnect" href="https://fonts.googleapis.com" />
// <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
// <link
//     href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
//     rel="stylesheet"
// />
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Professionals Platform Series</title>
        <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=" />
    </head>
    <body>
        <slot />
        <footer
            class="text-gray-7 mt-8 border-t border-gray-200 p-4 text-center text-sm text-gray-500"
        >
            ©2026 professionalsplatform.org
        </footer>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;

        font-family: var(--font-display);
        color: var(--color-gray-900);
    }
</style>
